.product-promotion {
  margin-top: 10px;
  border: 1px solid #bd6767;
  border-radius: 5px;
}

.product-promotion .voucher-card {
  align-items: initial !important;
}

.product-promotion .image {
  width: 70px !important;
  margin: auto !important;
  border-radius: 0% !important;
}

.product-promotion .time-expired {
  margin-top: 8px;
  width: max-content;
  font-weight: 500;
  font-size: 13px;
}
.product-promotion .voucher-image {
  padding: 0.21rem !important;
  border-radius: 0% !important;
}

.product-promotion .voucher-info {
  padding: 0px !important;
}
.product-promotion .voucher-info div {
  font-size: 13px !important;
}

.product-promotion .promotion-name {
  border-bottom: 1px solid rgb(104, 39, 39);
  padding: 7px;
  text-align: center;
}
.product-promotion .promotion-name .title {
  font-size: 19px !important;
  color: orange !important;
}
.product-promotion .promotion-limit {
  color: #bd4545 !important;
}

.product-promotion .promotion-detail {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.suggest-product {
  border: 2px dotted #1654a0;
  margin-top: 24px;
  margin-bottom: 20px;
  padding: 20px;
}

.suggest-product .title {
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
  font-size: 18px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.suggest-product .product-sub-item {
  display: flex;
  gap: 4px;
  flex-direction: column;
  width: 100px;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 4px;
  border: 1px solid #d9d9d9;
}

.suggest-product .promotion-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 12px;
  display: flex;
  gap: 80px;
  margin-bottom: 12px;
}

.suggest-product .ladder-content {
  display: -webkit-box;
  max-height: 3.2rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 1;
  line-height: 1.6rem;
}

.suggest-product .link-to-product {
  color: #1849ab !important;
}

.suggest-product .link-to-product:hover {
  text-decoration: underline;
}

.suggest-product .promotion-item .item-list {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 4px;
}

.suggest-product .promotion-item .title {
  font-weight: 500;
  color: black;
  margin-bottom: 8px;
}

.suggest-product .promotion-item:first-child {
  border-bottom: none;
}

.suggest-product .product-sub-item img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
}

.suggest-product .product-sub-item .product-name {
  color: #1654a0;
  font-size: 12px;
  text-align: left;
  padding: 0 8px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 12px;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}
.suggest-product .product-sub-item .product-price {
  color: red;
  font-size: 11px;
  margin: 4px 0px;
  height: 14px;
}

.suggest-product .product-sub-item .product-bonus {
  color: red;
  font-size: 10px;
  border: 1px solid red;
  padding: 0 4px;
  margin: 4px 0px;
  height: 14px;
}

.suggest-product .product-sub-item .product-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sun-editor-editable .__se__float-center figure {
  margin: auto !important;
}
